
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
#root {
  background-color: #e8ded2;
}
/* Search by name */
.search-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 1.5rem;
}
.search-name {
  width: 35%;
  margin: 0 auto;
}
.content-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.search-card {
  margin-bottom: 2rem;
}
.label-name {
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  font-family: "El Messiri";
}
.form-control {
  border: none!important;
  border-bottom: .1rem solid #3f3e3e!important;
  border-radius: 0!important;
  background: none!important;

}
.button-search {
  background: none!important;
  border-radius: 50%!important;
  border-width: .1rem!important;
  border-color: #3f3e3e!important;
}
.icon-search {
  color: #3f3e3e!important;
}
/* Search by category */
.categories-cont {
  width: 90%;
  margin: 0 auto;
}
.categories-cont > ul{
  padding: 0;
  list-style: none;
  justify-content: space-between;
  display: flex;
}
.categories-cont > h3 {
  font-family: "El Messiri";
}
.categ-link {
  text-decoration: none;
  color: #000000 ;
}
.categ-link:hover {
  color: #000000;
}
/* Cards container */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}


/* Card item */
.card {
  box-shadow: 0 .25em .25em -.125em rgba(0,0,0,.25), 0 .5em 1.25em rgba(0,0,0,.5);
}
.list-options {
  display: flex;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.details {
  color: white;
  text-decoration: none;
  background-color: #17a2b8;
  padding: .6rem 1rem;
  border-radius: 5%;
}
.details:hover {
  color: white;
}

/* View Recipe */
.view-container {
  width: 60%;
 
}
.view-link {
  position: fixed;
  top: 2rem;
  left: 5rem;
  color: #000000;
}
.view-link:hover{
  color: #000000;
}
.view-img {
  display: block;
  max-width: 70%;
  margin: 2rem auto;
  border-radius: 1%;
}
